.pipik {
  color: rgb(90, 70, 70);
  display: block;
  position: absolute;
  bottom: 0;
  top: 97%;
  width: 100%;
  height: 141px;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-height: 600px) {
  .pipik {
    display: block;
    position: absolute;
    bottom: 0;
    top: 95%;
    width: 100%;
    height: 141px;
    font-size: 12px;
    text-align: center;
  }
}
